[submodule "themes/my-resume"]
	path = themes/my-resume
	url = https://github.com/techatpark/my-resume.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
